astroid==2.12.10
colorama==0.4.5
dill==0.3.5.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
pygame==2.1.2
pylint==2.15.3
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
tomli==2.0.1
tomlkit==0.11.5
wrapt==1.14.1
window~=0.0.3